{% extends 'createSchedule/base.html' %}
{% block content %}
    <div class="center containerCustom">
        <h2 style="color:#3e395b;font-style:italic;">Create New Account</h2>
    </div>
    <div class="center containerCustom">
        {% csrf_token %}
        <form class="login-form">
                <div class="textBox">
                    <input type="text" placeholder="Student No"/>
                </div>
                <div class = "textBox">
                <input type="password" placeholder="Password"/>
                </div>
            </form>
    </div>
    <div class="center containerCustom">
        <button class="simpleButton"><a href="main/">Register</a></button>
    </div>
{% endblock %}